<template>
  <div style="margin-left: 15px">
    <div class="form_register_title">
      Liste des outils/véhicules disponibles
    </div>
    <table class="table table-striped table-hover overflow-table" :key="offers">
      <thead class="thead-dark">
        <th>Propriétaire</th>
        <th>Outil/Véhicule</th>
        <th>Marque</th>
        <th>Demander un emprunt</th>
      </thead>
      <tbody>
        <tr v-for="offer in offers" v-bind:key="offer">
          <td> {{ offer.user }}</td>
          <td> {{ offer.tool }}</td>
          <td> {{ offer }}</td>
          <td> <button v-on:click="book_offer(offer)">book</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</template>

<script>

export default {
  name: "get_offer",
  props: ["currentuser"],
  data() {
    return {
      offers: []
    }
  },
  methods: {
    book_offer(obj) {
      const requestOptions = {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          "id": obj.id,
          "asking_user": this.currentuser
        })
      }
      fetch("http://127.0.0.1:5001/tool/reserve", requestOptions)
        .then(
          response => response.json()
          // if response ok, reload table
        )
    }
  },
  mounted() {
    fetch("http://127.0.0.1:5001/tool/linked")
      .then((response) => response.json())
      // BIG OOF
      .then((data) => {

        let temp_in = data.response
        let temp_out = []

        temp_in.map(x => {
          if (x.user !== this.currentuser && x.status === "Open") {
            temp_out.push(x)
          }
        }
        );
        // map_array = "BIG OOF"

        // const filter_array = temp_in.filter(y => console.log(y.user));
        // console.log(filter_array)
        // sinon reduce op

        this.offers = temp_out;
      });

  }

}
</script>

<style scoped>

</style>