<template>

  <button>login</button>
  <button>register</button>

  <table>
    <tr v-for="item in items" v-bind:key="item">
      <td>{{item.who}}</td>
      <td>{{item.what1}}</td>
      <td>{{item.what2}}</td>
      <td>{{item.when}}</td>
    </tr>
  </table>

</template>

<script>
export default {
  name: 'main_home',
  data() {
    return {
      items: {
        "1": {
          "who": "bob",
          "what1": "pret",
          "what2": "tracteur 117",
          "when": "17/01/2117"
        },
        "2": {
          "who": "Fred",
          "what1": "service",
          "what2": "tailler la haie",
          "when": "17/01/2117"
        },
        "3": {
          "who": "Adrien",
          "what1": "service",
          "what2": "tailler la haie",
          "when": "17/01/2117"
        }
      },
      log_state: false
    }
  }
}
</script>

<style>
Main_home {
  border: 1px solid black
}
</style>