<template>
  <div class="col-lg-8">
    <div class="col-lg-12">
      <div class="form_register_title col-lg-9">
        Liste des outils/véhicules disponibles
      </div>

    </div>

    <div class=""
      style="border: 1px solid black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin-top: 2%; margin-bottom: 10%;  max-height: 400px; overflow: auto">
      <table class="table overflow-table" id="main_table">
        <thead style="position: sticky;top: 0; background-color: black; color: white;" class="thead-dark">
          <tr>
            <th>Marque</th>
            <th>Outil/Véhicule</th>
            <th>Proposer cet outil</th>
          </tr>
        </thead>
        <tbody :key="this.tools">
          <tr v-for="tool in tools" v-bind:key="tool">
            <td>{{ tool.brand }}</td>
            <td> {{ tool.label }}</td>
            <td> <button class="btn btn-success" v-on:click="add_offer(tool)">Prêter !</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-4">
    <div>
      <div class="form_register_title">
        Ajouter un nouvel outil/véhicule
      </div>
      <form>
        <div class="form-group row">
          <div class="col-lg-7">
            <label for="">Nom</label><br>
            <input type="text" name="" placeholder="" v-model="new_tool_label">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-7">
            <label for="">Marque</label><br>
            <input type="text" name="pass" placeholder="" v-model="new_tool_brand">
          </div>
        </div>
      </form>
      <button class="btn btn-success" v-on:click="add_tool">Enregistrer</button>
    </div>
  </div>
</template>

<script>

export default {
  name: "post_offer",
  props: ['username'],
  data() {
    return {
      tools: [],
      new_tool_label: "",
      new_tool_brand: "",
      new_tool_year: "",
      new_tool_condition: ""
    }
  },
  methods: {
    add_tool() {
      // POST request using fetch with error handling 
      const requestOptions = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          "label": this.new_tool_label,
          "brand": this.new_tool_brand,
          "year": this.new_tool_year,
          "condition": this.new_tool_condition,
        })
      };
      fetch('http://127.0.0.1:5001/tool/post', requestOptions)
        .then(async response => {
          const data = await response.json();
          // check for error response
          if (!response.ok) {
            // get error message from body or default to response status
            const error = (data && data.message) || response.status;
            return Promise.reject(error);
          }
          if (response.status !== 201) {
            const error = (data && data.message) || response.status;
            return Promise.reject(error);
          }
          const x = 0
          if (x === 0) {
            fetch("http://127.0.0.1:5001/tool/get")
              .then((response) => response.json())
              // server status test 200 ? good : bad
              .then((data) => {
                this.tools = data;
              });
          }
        })
        .catch(error => {
          console.error('There was an error!', error);
        });
    },
    add_offer(obj) {
      const requestOptions = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          "tool": obj,
          "username": this.username,
          "date": "2006/06/06",
          "condition": "ok"
        })
      };

      fetch("http://127.0.0.1:5001/tool/link", requestOptions)
        .then(async response => {
          const data = await response.json();
          console.log(data)
        })

    }
  },
  mounted() {
    fetch("http://127.0.0.1:5001/tool/get")
      .then((response) => response.json())
      // server status test 200 ? good : bad
      .then((data) => {
        this.tools = data;
      });

  }
}
</script>

<style>
::-webkit-scrollbar {
  display: none;
}
</style>