<template>
  <div style="margin-left: 15px">
    <div class="form_register_title">
      Mes offres publiées
    </div>
    <!--<table class="table table-striped table-hover overflow-table">
      <thead class="thead-dark">
        <th>Outil/Véhicule</th>
        <th>Date</th>
        <th>Statut</th>
        <th>Qui vous contacte</th>
        <th>#</th>
      </thead>
      <tbody>
        <tr v-for="offer in this.my_offers" v-bind:key="offer">
          <td> {{ offer.tool.label }} - {{ offer.tool.brand }}</td>
          <td> <span style="font-style: italic; color:lightgray;">offer.date</span> </td>
          <td> {{ offer.status}} </td>
          <td> {{ offer.asking_user }} <span style="font-style: italic; color:lightgray;"> + coordonnees </span></td>
          <td> <button>accepter</button> <button disabled>refuser</button></td>
        </tr>
      </tbody>
    </table>-->
  </div>

  <div style="border: 1px solid black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin-top: 2%; margin-bottom: 10%;  max-height: 400px; overflow: auto">
    <div class="form_register_title">
      Mes offres en cours
    </div>
    <table class="table table-striped table-hover overflow-table" :key="my_offers">
      <thead class="thead-dark " style="position: sticky;top: 0; background-color: black; color: white;" >
        <th>Outil/Véhicule</th>
        <th>Date</th>
        <th>Statut</th>
        <th>Qui vous contacte</th>
        <th>#</th>
      </thead>
      <tbody>
        <tr v-for="offer in this.my_offers[1]" v-bind:key="offer">
          <td> {{ offer.tool.label }} - {{ offer.tool.brand }}</td>
          <td> <span style="font-style: italic; color:lightgray;">offer.date</span> </td>
          <td> {{ offer.status }}</td>
          <td> {{ offer.asking_user }} <span style="font-style: italic; color:lightgray;"> + coordonnees </span> </td>
          <td> <button>accepter</button> <button disabled>refuser</button> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="border: 1px solid black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin-top: 2%; margin-bottom: 10%;  max-height: 400px; overflow: auto">
    <div class="form_register_title">
      Mes offres ouvertes
    </div>
    <table class="table table-striped table-hover overflow-table" :key="my_offers">
      <thead class="thead-dark " style="position: sticky;top: 0; background-color: black; color: white;" >
        <th>Outil/Véhicule</th>
        <th>Date</th>
        <th>Statut</th>
        <th>#</th>
      </thead>
      <tbody>
        <tr v-for="offer in this.my_offers[0]" v-bind:key="offer">
          <td> {{ offer.tool.label }} - {{ offer.tool.brand }}</td>
          <td> <span style="font-style: italic; color:lightgray;">offer.date</span> </td>
          <td> {{ offer.status }}</td>
          <td> <button disabled>annuler</button> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="border: 1px solid black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin-top: 2%; margin-bottom: 10%;  max-height: 400px; overflow: auto">
    <div class="form_register_title">
      Mes demandes
    </div>
    <table class="table table-striped table-hover overflow-table" :key="my_offers">
      <thead class="thead-dark " style="position: sticky;top: 0; background-color: black; color: white;" >        <th>Outil/Véhicule</th>
        <th>Date</th>
        <th>Statut</th>
        <th>#</th>
      </thead>
      <tbody>
        <tr v-for="offer in this.my_offers[3]" v-bind:key="offer">
          <td> {{ offer.tool.label }} - {{ offer.tool.brand }}</td>
          <td> <span style="font-style: italic; color:lightgray;">offer.date</span> </td>
          <td> {{ offer.status }}</td>
          <td> <button disabled>annuler</button> </td>
        </tr>
      </tbody>
    </table>
  </div>

</template>
<script>
export default {
  name: "user_profil",
  props: ['currentuser'],
  data() {
    return {
      msg: "gibson",
      my_offers: []
    }
  },
  mounted() {
    fetch("http://127.0.0.1:5001/tool/linked")
      .then((response) => response.json())
      // server status test 200 ? good : bad
      .then((data) => {
        let temp_in = data.response
        let temp_out_open = []
        let temp_out_pending = []
        let temp_out_close = []
        let temp_out_gibson = []
        temp_in.map(x => {
          if (x.user === this.currentuser) {
            if (x.status === "Open") {
              temp_out_open.push(x)
            }
            if (x.status === "Pending") {
              temp_out_pending.push(x)
            }
            if (x.status === "Close") {
              temp_out_close.push(x)
            }
          }
          if (x.asking_user === this.currentuser) {
            temp_out_gibson.push(x)
          }
        }
        );

        // const filter_array = temp_in.filter(y => console.log(y.user));
        // console.log(filter_array)
        // sinon reduce op

        // const keys = ["open","pending", "close", "my_own"]
        // const result = Object.fromEntries(keys.map(k => [k, value]))
        this.my_offers = [
          temp_out_open,
          temp_out_pending,
          temp_out_close,
          temp_out_gibson
        ];
      });

  }
}

</script>
<style>
  ::-webkit-scrollbar {
    display: none;
  }
</style>
