<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"><img height="40" src="@/assets/troc_actor_light_banner.svg" alt="logo_troc_tractor" />
      </div>
      <ul class="nav navbar-nav">
      </ul>
      <div class="navbar-profil-btn">
        <button class="btn btn-success navbar-btn navbar-right" v-on:click="change_user_state('profil_state')">Profil :
          {{ username }}</button>
      </div>
    </div>
  </nav>
  <div>


    <div class="col-lg-6" style="margin-bottom: 35px">
      <div class="text-center">
        <button class="btn btn-sq-lg" v-on:click="change_user_state('get_state')">
          <img :src="require('@/assets/tractor_icon.png')" alt="tractor_icon" height="75" style="margin-bottom: 15px">
          <br>
          <span class="btn-text-font">
            PROPOSER UN PRÊT
          </span>
        </button>
      </div>
    </div>
    <div class="col-lg-6" style="margin-bottom: 35px">
      <div class="text-center">
        <button class="btn btn-sq-lg" v-on:click="change_user_state('post_state')">
          <img :src="require('@/assets/search_icon.png')" alt="tractor_icon" height="75"
            style="margin-bottom: 15px"><br>
          <span class="btn-text-font">
            CHERCHER A EMPRUNTER
          </span>
        </button>
      </div>
    </div>
  </div>


  <get_offer v-if="show_get_state" :currentuser="username" />


  <post_offer v-if="show_post_state" :username="username" />

  <user_profil :currentuser="username" v-if="show_profil_state" />

</template>
  
<script>

import get_offer from "@/components/get_offer";
import post_offer from "@/components/post_offer";
import user_profil from "@/components/user_profil";
export default {
  name: 'user_vue',
  props: ['username'],
  components: {
    get_offer,
    post_offer,
    user_profil,
  },
  data() {
    return {
      msg: "gibson",
      show_post_state: false,
      show_get_state: false,
      show_profil_state: false
    }
  },
  methods: {
    gibson() {
      console.log("gibson")
    },
    change_user_state(state) {
      switch (state) {
        case 'post_state':
          this.show_post_state = false
          this.show_get_state = true
          this.show_profil_state = false
          break;
        case 'get_state':
          this.show_post_state = true
          this.show_get_state = false
          this.show_profil_state = false
          break;
        case 'profil_state':
          this.show_post_state = false
          this.show_get_state = false
          this.show_profil_state = true
          break;
        default:
          this.show_post_state = false
          this.show_get_state = false
          this.show_profil_state = false
      }
    }
  },

}
</script>
  
<style>

</style>