.btn-sq-lg {
    width: 220px !important;
    height: 150px !important;
}
.form_register_title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 200%;
    font-weight: bold;
    font-family: "Roboto Thin", sans-serif;
}
.navbar-profil-btn{
    padding-right: 10px;
}
.btn-text-font{
    color: black;
    padding-top: 10px;
}