<template>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
    integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">


  <user_vue v-if="this.is_logged" :username="username" :key="this.is_logged"></user_vue>

  <div class="text-center" v-if="state_on && !this.is_logged">
    <img src="@/assets/troc_actor_big_logo.svg" alt="troc_actor_logo">
    <br>
    <button class="btn btn-success" v-on:click="change_state('login')">SE CONNECTER</button>
    <button class="btn btn-success" v-on:click="change_state('register')">S'INSCRIRE</button>
  </div>

  <!-- <div>
    result : 
    <ul>
      <li>{{this.ask_login_form}}</li>
      <li>{{this.ask_register_form}}</li>
    </ul>
  </div> -->
  <!-- <div v-if="this.is_logged"> PAS LOG {{this.is_logged}} </div>
  <div v-if="!this.is_logged" > LOG {{this.is_logged}} </div> -->

  <div class="col-lg-offset-4" v-if="this.ask_register_form && !this.is_logged">
    <div>
      <img src="@/assets/troc_actor_big_banner.svg" alt="troc_actor_big_banner">
    </div>
    <div class="form_register_title">
      FORMULAIRE D'INSCRIPTION
    </div>
    <form class="overflow-form">
      <div class="form-group row">
        <div class="col-lg-7">
          <label for="log">Nom d'utilisateur</label>
          <input class="form-control" type="text" name="log" placeholder="Nom d'utilisateur" v-model="new_username">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-7">
          <label for="email">Email</label>
          <input class="form-control" type="text" name="email" placeholder="Email" v-model="new_email">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-7">
          <label for="pass">Mot de passe</label>
          <input class="form-control" type="password" name="pass" placeholder="Mot de passe" v-model="new_password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-7">
          <label for="pass">Vérification du mot de passe</label>
          <input class="form-control" type="password" name="pass" placeholder="Vérifiez votre mot de passe"
            v-model="new_password_check">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-7">
          <label for="first_name">Prénom</label>
          <input class="form-control" type="text" name="first_name" placeholder="Prénom" v-model="new_first_name">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-7">
          <label for="last_name">Nom</label>
          <input class="form-control" type="text" name="last_name" placeholder="Nom" v-model="new_last_name">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-7">
          <label for="address">Adresse</label>
          <input class="form-control" type="text" name="address" placeholder="Adresse" v-model="new_address">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-7">
          <label for="birthdate">Date de naissance</label>
          <input class="form-control" type="date" name="birthdate" placeholder="Adresse" v-model="new_birthdate">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-7">
          <label for="rgpd">
            <input type="checkbox" name="rgpd" placeholder="rgpd">
            rgpd je suis d'accord avec tout mais si jamais <span v-on:click="rgpd()"
              style="text-decoration: underline; color: blue;">je veux verifier c'est la</span>
            et nous vous informons que vos données personnelles seront vendues au plus offrant
          </label>
        </div>
      </div>
    </form>

    <button class="btn btn-success" v-on:click="add_item"
      :disabled="(this.new_password !== this.new_password_check) || (this.new_password === '' || this.new_password_check === '')">S'inscrire</button>
    <button class="btn btn-default" v-on:click="change_state('reset')">Retour</button>

  </div>

  <div v-if="this.ask_login_form && !this.is_logged">
    <div class="col-lg-offset-4 col-lg-4">
      <img src="@/assets/troc_actor_big_banner.svg" alt="troc_tractor_banner" style="margin-bottom: 60px">
    </div>
    <form>
      <div class="form-group col-lg-offset-2 col-lg-8">
        <label for="username">Nom d'utilisateur</label>
        <input class="form-control" type="text" placeholder="Nom d'utilisateur" v-model="username">
      </div>
      <div class="form-group col-lg-offset-2 col-lg-8">
        <label for="username">Mot de passe</label>
        <input class="form-control" type="password" placeholder="Mot de passe" v-model="password">
      </div>
    </form>
    <div class="col-lg-offset-2 col-lg-8">
      <button class="btn btn-default" v-on:click="change_state('reset')">RETOUR</button>
      <button class="btn btn-success" v-on:click="authent">SE CONNECTER</button>
    </div>
  </div>
</template>

<script>
import user_vue from './components/user_vue.vue'
import moment from "moment";

export default {
  name: 'App',
  components: {
    user_vue
  },
  data() {
    return {
      ask_login_form: false,
      ask_register_form: false,
      state_on: true,
      is_logged: false,
      username: "",
      password: "",
      new_username: "",
      new_email: "",
      new_password: "",
      new_password_check: "",
      new_first_name: "",
      new_last_name: "",
      new_address: "",
      new_birthdate: "",
    }
  },
  methods: {
    change_state(state) {
      if (state === "login") {
        this.ask_login_form = true
        this.ask_register_form = false
        this.state_on = false
      }
      if (state === "register") {
        this.ask_login_form = false
        this.ask_register_form = true
        this.state_on = false
      }
      if (state === "reset") {
        this.ask_login_form = false
        this.ask_register_form = false
        this.state_on = true
      }
    },
    format_date(value) {
      if (value) {
        return moment(String(value)).format('YYYY/MM/DD')
      }
    },
    authent() {
      //ici on fetch flask et check si existe db
      // fetch /user.login (email password)
      const requestOptions = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          "email": this.username,
          "password": this.password,
        })
      };
      fetch('http://127.0.0.1:5001/user/login', requestOptions)
        .then(async response => {

          this.is_logged = (response.status === 200)


          if (response.status !== 200) {
            alert("credential error")
            // popup
          }
        }
        )
      // if (this.credential1 === "bob") {
      //   this.is_logged = true
      //   console.log("success auth")

      // } else {
      //   console.log("failure auth")
      // }
    },
    // register() {
    //   let post_data = {
    //     "name": this.new_username,
    //     "pass": this.new_password,
    //   }
    //   // fetch flask/user/register
    //    console.log(post_data)
    // },
    add_item() {
      // POST request using fetch with error handling 
      const requestOptions = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          "email": this.new_email,
          "username": this.new_username,
          "password": this.new_password,
          "first_name": this.new_first_name,
          "last_name": this.new_last_name,
          "address": this.new_address,
          "birthdate": this.format_date(this.new_birthdate),
        })
      };
      fetch('http://127.0.0.1:5001/user/register', requestOptions)
        .then(async response => {
          // check for error response
          // if (!response.ok) {
          //   // get error message from body or default to response status
          //   const error = (data && data.message) || response.status;
          //   return Promise.reject(error);
          // }
          // if (response.status !== 201) {
          //   const error = (data && data.message) || response.status;
          //   return Promise.reject(error);
          // }
          if (response.status === 201) {
            console.log("register ok")
            this.change_state("reset")
          }
          if (response.status === 401) {
            alert("already taken");
          }

        })
        .catch(error => {
          console.error('There was an error!', error);
        });
    },
    rgpd() {
      console.log("rgpd")
    }
  }
}
</script>

<style>
/**body,
html {
  overflow: hidden;
}**/

.overflow-form {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.overflow-table {
  max-height: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn-sq-lg {
  width: 220px !important;
  height: 150px !important;
}

.form_register_title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 200%;
  font-weight: bold;
  font-family: "Roboto Thin", sans-serif;
}

.navbar-profil-btn {
  padding-right: 10px;
}

.btn-text-font {
  color: black;
  padding-top: 10px;
}
</style>
